

.dataTables_length,
.dataTables_filter {
  font-size: 0;
  position: relative; }
  .dataTables_length:after,
  .dataTables_filter:after {
    font-family: "Material-Design-Iconic-Font";
    position: absolute;
    left: 1px;
    bottom: 5px;
    font-size: 1.2rem;
    color: #333; }
  .dataTables_length > label,
  .dataTables_filter > label {
    margin: 0;
    width: 100%; }
    .dataTables_length > label select,
    .dataTables_length > label input[type=search],
    .dataTables_filter > label select,
    .dataTables_filter > label input[type=search] {
      padding-left: 25px;
      font-size: 1rem;
      background: none;
      border: 0;
      height: 35px;
      border-radius: 0;
      width: 100%;
      border-bottom: 1px solid #eceff1; }

.dataTables_length {
  float: right;
  margin-left: 20px; }
  .dataTables_length:before {
    content: "";
    position: absolute;
    pointer-events: none;
    z-index: 1;
    right: 0;
    bottom: 5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 8px 8px;
    border-color: transparent transparent #d1d1d1 transparent; }
  @media (min-width: 576px) {
    .dataTables_length {
      min-width: 150px; } }
  @media (max-width: 575.98px) {
    .dataTables_length {
      display: none; } }
  .dataTables_length:after {
    content: '\f197'; }
  .dataTables_length select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }

